<div class="carousel-container">
  <carousel>
    <slide class="slide">
      <img
        src="https://media.kingston.com/kingston/hero/ktc-hero-solutions-gaming-how-to-clean-your-pc-system-lg.jpg"
        alt="Slide 1"
      />
    </slide>
    <slide class="slide">
      <img
        src="https://images.alphacoders.com/435/435793.jpg"
        alt="Slide 2"
      />
    </slide>
    <slide class="slide">
      <img
        src="https://previews.123rf.com/images/nexusplexus/nexusplexus1207/nexusplexus120700753/14522803-business-person-working-on-computer-against-technology-background.jpg"
        alt="Slide 3"
      />
    </slide>
  </carousel>
</div>
